table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-block: 2rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn--load-more {
  padding: 10px;
  background-color: white;
  border: 1px solid #979797c7;
  border-radius: 10px;
  cursor: pointer;
}

.btn--load-more:active {
  background-color: darkgray;
}

.load-more-btn-container {
  display: flex;
  justify-content: center;
  margin-block: 1rem;
}
